<!-- <body id="about_body">
<div class="row">
	<section class="col-md-4"></section>
	<section class="col-md-4">
		<h2 id="about_heading">Scarf. Vary your vittles.</h2>
 	</section>	
</div>
<div class="row"></div>
<div class="row">
	<div class="col-md-3"></div>
	<p class="col-md-6" id="about">
Foodies are people who love eating and sharing cool new food ideas. Scarf is a simple way to search for, create, and post links to recipes with other foodies. Whether you are linking to a recipe from a popular blog or posting your own recipes and pictures, Scarf makes it easy to share your favorite food ideas. 

</p>
</div>
</body> -->
<body id="about_body">
	<div class="row">
		<div class="col-md-12 spacer"></div>
	</div>

	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4 spacer">
			<h2 id="about_heading">Scarf. Vary your vittles.</h2>
		</div>
	</div>
		<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 card1"></div>
	</div>

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 card" id="about">
			Foodies are people who love eating and sharing cool new
		</div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 card" id="about">
			food ideas. Scarf is a simple way to search for, create,
		</div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 card" id="about">
			and post links to recipes with other foodies. Whether you
		</div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 card" id="about">
			are linking to a recipe from a popular blog or posting your
		</div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 card" id="about">
			own recipes and pictures, Scarf makes it easy to share
		</div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 card" id="about">
			your favorite food ideas.
		</div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 card"></div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 card"></div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 card"></div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 card"></div>
	</div>
</body>