<body id="about_body">
<div class="row">
	<section class="col-md-4"></section>
	<section class="col-md-4">
		<h2 id="about_heading">Scarf. Vary your vittles.</h2>
<!-- 		<img src="/assets/scarflogo.png" class="scarflogo">
 --></section>	
</div>
<div class="row"></div>
<div class="row">
	<div class="col-md-3"></div>
	<p class="col-md-6" id="about">
Foodies are people who love eating and sharing cool new food ideas. Scarf is a simple way to search for, create, and post links to recipes with other foodies. Whether you are linking to a recipe from a popular blog or posting your own recipes and pictures, Scarf makes it easy to share your favorite food ideas. 

</p>
</div>
</body>