<div class="row">
	<div class="col-md-6">
		<div class="col-md-1"></div>
		<div class="col-md-8">
			<h1 class="page_title">New Recipe</h1>
		</div>
		<div class="row">
			<div class="col-md-12"></div>
		</div>
		<%= render 'form' %>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<%= link_to 'Back', recipes_path %>
			</div>
		</div>
	</div>
	<p class="col-md-5 instructions">Enter a title for your new recipe. Enter the URL</p> 
	<p class="col-md-5 instructions">to the recipe OR type in your recipe using text.</p> 
	<p class="col-md-5 instructions">If typing your recipe, be sure to include</p>
	<p class="col-md-5 instructions">ingredients, directions and any other important</p>
	<p class="col-md-5 instructions">pieces of information that would be helpful when</p>
	<p class="col-md-5 instructions">creating the dish. Also, be sure to add tags like</p>
	<p class="col-md-5 instructions">“breakfast” “roasted” “vegetarian” — this helps</p>
	<p class="col-md-5 instructions">build a better Scarf experience!</p>
	<p class="col-md-5 instructions"></p>
</div>