<% @result.each do |tag| %>
	<div class="col-sm-8 col-md-4">
    <div class="thumbnail">
      <img src="<%= tag.image.url(:medium) %>" alt="...">
      <div class="caption">
        <h3><%= tag.title %></h3>
        <p><%= tag.recipe %></p>
        <p>
        	<button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
        	<button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>
		</p>
      </div>
    </div>
</div>
<% end %>

