<body class="home">
	<div class="row">
		<img class="col-md-3 col-sm-3 col-xs-3 food_pics img-responsive" src="http://www.rcinet.ca/patrimoine-asiatique-en/wp-content/uploads/sites/26/2012/05/2-Indian-food.jpg">
		<img class="col-md-3 col-sm-3 col-xs-3 food_pics img-responsive" src="http://oneslidephotography.com/wp-content/uploads/2011/03/food_photography_tips.jpg">
		<img class="col-md-3 col-sm-3 col-xs-3 food_pics img-responsive" src="http://blog.logomyway.com/wp-content/uploads/2013/06/143.jpg">
		<img class="col-md-3 col-sm-3 col-xs-3 food_pics img-responsive" src="http://blog.photoshelter.com/wp-content/uploads/2013/05/Lincoln-Barbour-FoodBev-051.jpg">
	</div>
	<div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn search">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
      <input type="text" class="form-control" placeholder="Search for...">
    </div>
</div>
</body>
