<body class="home">
<!-- 	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-2">
			<ul class="nav nav-pills">
				<li class="active">
					<a href="users/new">New User</a>
				</li>
			</ul>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-2">
			<ul class="nav nav-pills">
				<li class="active">
				<a href="login">Login</a>
				</li>
			</ul>
		</div>
	</div>
 -->
<!-- <nav class="navbar navbar-inverse header">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home">Scarf</a>
    </div>
    <img class="col-sm-1 logo" src="http://thumb1.shutterstock.com/display_pic_with_logo/2390648/213683494/stock-vector-pizza-slice-icon-213683494.jpg">
    <div>
	    <ul class="nav navbar-nav navbar-right">
	    	<li><a href="users/new"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	        <li><a class="color-me" href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	     </ul>
    </div>
  </div>
</nav> -->
 		<div class="row">
		<img class="col-sm-3 food_pics" src="http://www.rcinet.ca/patrimoine-asiatique-en/wp-content/uploads/sites/26/2012/05/2-Indian-food.jpg">
		<img class="col-sm-3 food_pics" src="http://oneslidephotography.com/wp-content/uploads/2011/03/food_photography_tips.jpg">
		<img class="col-sm-3 food_pics" src="http://blog.logomyway.com/wp-content/uploads/2013/06/143.jpg">
		<img class="col-sm-3 food_pics" src="http://blog.photoshelter.com/wp-content/uploads/2013/05/Lincoln-Barbour-FoodBev-051.jpg">
	</div>
</body>
