@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background: url(Dollarphotoclub-25op.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.header {
	background-color: #434371;
	height: 80px;
}

.logo {
	max-width: 65%;
	height: auto;
}

.food_pics {
	padding: 30px;
}

.nav.navbar-nav.navbar-right li a {
    color: #85d9da;
    margin-right: 15px;
}
.navbar-inverse .navbar-brand {
    color: #85d9da;
}

.avatar {
	margin-top: 1px;
	max-width: 100%;
	height: auto;
	border-radius: 100%;
}
.username {
	padding: 12px;
	color: #85d9da;
	text-align: center;
	font-size: 14px;
}

.img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
