@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background: url(Dollarphotoclub-25op.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.header {
	background-color: #434371;
	height: 80px;
}

.logo {
	margin-top: 0px;
	max-width: 90%;
	height: auto;
}

.navbar-inverse .about a {
	color: #85d9da;
}

.about {
	margin-top: 30px;
}

.food_pics {
	padding: 30px;
}

.nav.navbar-nav.navbar-right li a {
    color: #85d9da;
}
.navbar-inverse .navbar-brand {
    color: #85d9da;
}

.navbar-right {
	margin-top: 15px;
}

.avatar {
	border-radius: 100%;
	margin-top: -16px;
	width: 100%;
	height: auto;
	
}
.username {
	margin-top: -8px;
	padding: 12px;
	color: #9a9ba5;
	text-align: center;
	font-size: 14px;
}

.img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
}

.logout {
	margin-top: 15px;
}

.userpage-avatar {
	max-width: 100%;
	height: auto;
	border-radius: 100%;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
