<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>ILuvFood</title>
=======
  <title>Food</title>
>>>>>>> 12a092c498662560f292a5417b27f9ffed2c893b
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
